<div class="worker-wraper">
  <div class="image-wraper">
    <img class="image" 
         src={Pharmacy.image}
         onerror="this.src = '../../../assets/no-product.jpg'" 
         alt="Фото Препарата"/>
    <div class="pharmacy">
      <div class="pharmacy-text">
        Аптека №1
      </div>
      <div class="pharmacy-text">
        Йошкар-Ола, ул. Первомайская, дом 46
      </div>
    </div>
  </div>
  <div class="information">
    <div class="title">
      Личная информация
    </div>
    <div class="subtitle">
      <span class="bold">ФИО: </span> Прозоров Максим Андреевич
    </div>
    <div class="subtitle">
      <span class="bold">Дата Рождения: </span> 21.01.2002
    </div>
    <div class="subtitle">
      <span class="bold">Опыт(в годах): </span> 3
    </div>
    <div class="subtitle">
      <span class="bold">Email: </span> masya.prozorov@mail.ru
    </div>
    <div class="subtitle">
      <span class="bold">Позиция: </span> Фармацевт
    </div>
    <div class="subtitle">
      <span class="bold">Ставка: </span> 230 руб/ч
    </div>
    <div class="title">
      Паспортные данные
    </div>
    <div class="subtitle">
      <span class="bold">Серия: </span> 8890
    </div>
    <div class="subtitle">
      <span class="bold">Номер: </span> 435423
    </div>
  </div>
</div>