<div class="pharmacy-wraper">
  <div class="pharmacy-info">
    <img class="photo" 
         src={{pharmacy.image}}
         onerror="this.src = '../../../assets/no-product.jpg'" 
         alt="Фото Препарата"/>
    <div class="information">
      <div class="text-wraper">
        <span class="bold">Название: </span> {{pharmacy.name}}
      </div>
      <div class="text-wraper">
        <span class="bold">Адрес: </span> {{pharmacy.address}}
      </div>
      <div class="text-wraper">
        <span class="bold">Email: </span> {{pharmacy.email}}
      </div>
      <div class="text-wraper">
        <span class="bold">Описание: </span> {{pharmacy.description}}
      </div>
    </div>
  </div>
  <div class="drugs-info-wraper">
    <div class="title">Имеющиеся препараты:</div>
    <div class="drugs-wrapper">
      <app-drug *ngFor="let Drug of drugs" [Drug] = "Drug"></app-drug>
    </div>
  </div>
</div>