<header class="nav-container">
    <nav>
        <a (click)="openMain()" routerLink="" routerLinkActive="active" class="nav-link nav-container__link_recipes">FarmaNet</a>
        <a (click)="openMain()" routerLink="main" routerLinkActive="active" class="nav-link nav-container__link">Главная</a>
        <a (click)="openMedicaments()" routerLink="drugs" routerLinkActive="active" class="nav-link nav-container__link">Препараты</a>
        <a (click)="openPharmacies()" routerLink="pharmacies" routerLinkActive="active" class="nav-link nav-container__link">Аптеки</a>
        <a (click)="openImports()" routerLink="imports" routerLinkActive="active" class="nav-link nav-container__link">Накладные</a>
    </nav>
</header> 
