.pharmacies {
  margin: 0 auto;
  width: 1000px;
  box-sizing: border-box;
}

.pharmacies-wrapper {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
}


.search-container
{
  text-align: center;
  margin-bottom: 130px;
}

.search-container__title
{
  font: 700 42px/51px "Montserrat";
  color: #25292D;
}

.search-container__addiction
{
  font: 400 18px/32px "Montserrat";
  color: #4A525A;
}

.search-container__search
{
  display: flex; 
  justify-content: center; 
  margin: 64px 0 24px;
}

.search-container__input
{
  height: 73px;
  width: 716px;
  border-radius: 16px;
  background: #FFFFFF;
  box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
  font: 400 18px/22px "Montserrat";
  border-style: none;
  outline: none;
  padding-left: 32px;
  margin-right: 16px;
}

.search-container__submit
{
  width: 152px;
  height: 73px;
  border-radius: 16px;
  background: #155263;
  color: #fff;
  border-style: none;
  outline: none;
  font: 600 18px/22px "Montserrat";
  cursor: pointer;
}

.search-container__nav
{
  display: flex; 
  justify-content: left; 
  width: 884px; 
  margin: 0 auto;
}

.download-button {
  display: block;
  height: 80px;
  width: 360px;
  background-color: #155263;
  border-radius: 17px;
  margin: 45px auto;
  cursor: pointer;
  color: #fff;
  border-color: #155263;
}

.download-button:hover {
    background-color: #fff;
    color: #155263 !important;
}

.download-button-text {
  font: 700 24px/30 'Montserrat';
  line-height: 30px;
}