<div class="auth-wraper">
  <div class="auth-block">
    <div class="title">
      Вход в личный кабинет
    </div>
    <input class="auth-input" placeholder="Логин" [(ngModel)]="log"/>
    <input type="text" class="auth-input" placeholder="Пароль" [(ngModel)]="pass">
    <div class="button-wraper">
      <button class="input-button" (click)="Login()">Войти</button>
      <button class="input-button" (click)="openMain()" routerLink="" routerLinkActive="active">Отмена</button>
    </div>
  </div>
</div>
