<div class="container">
    <h1>Профиль пользователя</h1>
    <input type="text" class="search-container__input" [(ngModel)]="data.name" value="{{data.name}}" placeholder="Имя....">
    <input type="text" class="search-container__input" [(ngModel)]="data.lastName" value="{{data.lastName}}" placeholder="Фамилия....">
    <input type="text" class="search-container__input" [(ngModel)]="data.email" value="{{data.email}}" placeholder="Email....">
    <!-- <input type="text" class="search-container__input" [(ngModel)]="data.DataBirth" value="{{data.DataBirth}}" placeholder="Дата рождения...."> -->
    <h3>Паспортные данные</h3>
    <input type="text" class="search-container__input" [(ngModel)]="data.seriesPassport" value="{{data.seriesPassport}}" placeholder="Серия....">
    <input type="text" class="search-container__input" [(ngModel)]="data.numberPassport" value="{{data.numberPassport}}" placeholder="Номер....">
    <h3>Отработанные часы</h3>
    <input type="text" class="search-container__input" [(ngModel)]="data.experience" value="{{data.numberPassport}}" placeholder="Часов....">
    <input type="submit" class="search-container__submit" value="Сохранить">
</div>
