.container {
    margin: 0 auto;
    width: 1000px;
    box-sizing: border-box;
}

.search-container__input
{
    height: 73px;
    width: 716px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    font: 400 18px/22px "Montserrat";
    border-style: none;
    outline: none;
    padding-left: 32px;
    margin-right: 16px;
    margin-bottom: 20px;
<<<<<<< HEAD
=======
}

.search-container__submit
{
    display: block;
    width: 152px;
    height: 73px;
    border-radius: 16px;
    background: #155263;
    color: #fff;
    border-style: none;
    outline: none;
    font: 600 18px/22px "Montserrat";
    margin-bottom: 50px;
>>>>>>> ArtUpdate
}