.drug {
    display: block;
    margin: 64px 0 24px;
    background-color: #fff;
    height: 273px;
    width: 306px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    font: 400 18px/22px "Montserrat";
    border-style: none;
    outline: none;
    padding-left: 32px;
    margin-right: 16px;
}
