.drug {
    margin: 0 15%;
    min-height: calc(100% - 250px);
}

.drug-wrapper {
    display: flex;
    justify-content: left; 
}

.image {
    width: 550px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.drug-info {
    margin-left: 70px;
}

.drug-title {
    color: #000;
    font: 500 27px/2.3 'Montserrat';
    text-transform: capitalize;
}

.drug-price {
    color: #000;
    font: 500 26px/2.38 'Montserrat';
    text-transform: capitalize;
}

// .drug-information {
//     display: flex;
// }

.drug-information-type {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    font: 400 13px/1.73 'Montserrat';
    color: #000;
    text-transform: capitalize;
}

.drug-information-type:hover {
    font-weight: 700;
}

.type-information-block {
    background: #FFFFFF;
    border: 1px solid rgba(228, 223, 223, 0.7);
    border-radius: 12px;
    padding: 15px 20px;
    margin-top: 20px;
}

.detail-information {
    font: 400 13px/1.67 'Montserrat';
    color: #000;
    text-transform: capitalize;
}

.active{
    display: block;
}