<div class="drug">
    <div class="drug-wrapper">
        <div>
            <img class="image"
            src="../../../assets/drug1.jpeg" 
            onerror="this.src = '../../../assets/no-product.jpg'" 
            alt="Фото Препарата">
        </div>
        <div class="drug-info">
            <div class="drug-title">Парацетамол таблетки шипучие 500мг, №12</div>
            <div class="drug-price">143 РУБ</div>
        </div>
    </div>
    <div mat-stretch-tabs="false" mat-align-tabs="start">
        <h2>Показания к применению</h2>
        <div label="Показания к применению">
                Показания к применению - это список состояний здоровья, при которых применение определенного лекарственного препарата является целесообразным и безопасным. Показания к применению устанавливаются на основе медицинских исследований и клинического опыта, а также учитываются факторы, такие как возраст и общее состояние здоровья пациента.
                Основными показаниями к применению лекарственных препаратов являются различные заболевания и состояния, такие как инфекции, болезни сердечно-сосудистой системы, заболевания желудочно-кишечного тракта, неврологические расстройства, онкологические заболевания и многие другие.
                При выборе лекарственного препарата врач учитывает не только показания к применению, но и другие факторы, такие как побочные эффекты, возможность применения в сочетании с другими лекарствами и т.д. Важно следовать назначениям врача и не превышать рекомендуемые дозы, чтобы избежать возможных осложнений и нежелательных последствий.
        </div>
        <h2>Состав</h2>
        <div label="Состав">
                Действующее вещество:
                Парацетамол – 500,000 мг
                Вспомогательные вещества:
                лимонная кислота безводная– 1114,000 мг
                натрия гидрокарбонат – 942,000 мг
                натрия карбонат безводный– 332,000 мг
                сорбитол – 300,000 мг
                натрия сахаринат – 7,000 мг
        </div>
        <h2>Противопоказания</h2>
        <div label="Противопоказания">
                Перед применением любых лекарственных препаратов, а также процедур и методик, необходимо ознакомиться со всеми противопоказаниями. Ниже перечислены наиболее распространенные противопоказания:
                Аллергическая реакция на компоненты препарата.
                Беременность и период грудного вскармливания.
                Хронические заболевания печени, почек, сердца, легких и других внутренних органов.
                Острый период инфекционных заболеваний и воспалительных процессов.
                Нарушения кроветворения и свертываемости крови.
                Сахарный диабет и другие эндокринные заболевания.
                Опухолевые заболевания и наличие онкологической терапии.
                Психические расстройства и нервные заболевания.
                Нарушения зрения и слуха.
                Наличие индивидуальных особенностей организма.
                Перед началом применения любого препарата или методики необходимо проконсультироваться с врачом и уточнить наличие противопоказаний в вашем случае. Не следует самолечиться и игнорировать противопоказания, так как это может нанести вред здоровью и привести к серьезным осложнениям.
        </div>
        <h2>Инструкция по применению</h2>
        <div label="Инструкция по применению">
                Перед применением любого лекарственного препарата или методики необходимо ознакомиться с инструкцией и следовать рекомендациям врача. Ниже приведены основные рекомендации по применению:
                Соблюдайте дозировку и режим приема, указанные в инструкции или назначенные врачом.
                Принимайте препараты после еды или во время еды, если это указано в инструкции.
                Следите за сроком годности препарата и не используйте его после истечения срока.
                Храните препараты в соответствии с инструкцией, чтобы избежать повреждения или порчи.
                Если вы забыли принять препарат вовремя, не принимайте удвоенную дозу, а продолжайте принимать его по расписанию.
                При возникновении побочных эффектов немедленно прекратите прием препарата и обратитесь к врачу.
                Перед применением любого препарата или методики необходимо проконсультироваться с врачом и уточнить индивидуальную дозировку и режим приема в вашем случае. Следуя рекомендациям, вы сможете достичь максимальной эффективности лечения и избежать нежелательных последствий.

        </div>
        <h2>Подробная инструкция</h2>
        <div label="Подробная инструкция" >
            Перед применением любого лекарственного препарата или методики необходимо ознакомиться с подробной инструкцией и следовать рекомендациям врача. Ниже приведены основные рекомендации по применению:
                Ознакомьтесь с инструкцией перед началом применения препарата или методики.
                Соблюдайте дозировку и режим приема, указанные в инструкции или назначенные врачом.
                Принимайте препараты после еды или во время еды, если это указано в инструкции.
                Следите за сроком годности препарата и не используйте его после истечения срока.
                Храните препараты в соответствии с инструкцией, чтобы избежать повреждения или порчи.
                Не превышайте рекомендуемую дозировку или продолжительность применения без разрешения врача.
                При возникновении побочных эффектов немедленно прекратите прием препарата и обратитесь к врачу.
                При применении методик и процедур следуйте инструкциям и рекомендациям специалиста.
                Перед началом применения любого препарата или методики необходимо проконсультироваться с врачом и уточнить индивидуальную дозировку и режим приема в вашем случае. Следуя рекомендациям, вы сможете достичь максимальной эффективности лечения и избежать нежелательных последствий.
        </div>
      </div>
</div>