.footer
{
    background: #F0FFFF;
    height: 125px;
}

.footer__wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
    height: 100%;
}

.footer__items
{
    font: 700 32px/39px "Montserrat";
}

.footer__items:last-child
{
    font: 500 20px/24px "Montserrat";
}
.nav-container__link_recipes
{
    text-decoration: none;
    font: bold 24px/29px "Montserrat";
    color: #155263;
    margin-right: 40px;
}